@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.grid-container {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 0.5fr ;
    grid-template-rows: 1fr 3.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header "
        "main main ";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.header p {
    margin-top: 60px;
    margin-left: 77px;
    font-family: inconsolata;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #333333;
}
.card-contet {
    grid-area: card-content;
}
img {
    width: 539px;
    height: 447px;
    margin-left: 90px;
    margin: auto;
}

.card-contet h1 {
    margin-top: 100px;
    width: 586px;
    height: 190px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;

}

.card-contet p {
    font-family: Space Mono;
    line-height: 35px;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100px;
}

button {
    width: 216px;
    height: 68px;
    background: #333333;
    color: #ffffff;
}

@media(max-width:1090px) {
    .main {
        display: grid;
        grid-template-areas:
            "image image"
            " card-content card-content"
        ;
    }

    .image {
        grid-area: image;
        margin: auto;
        width: 700px;
    }

    .card-content {
        grid-area: card-content;
        margin: auto;
        width: 900px;

    }

}
@media(max-width:680px){
    .card-content {
        width: 800px;
        margin: 0px 400px;
    }
}