@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 3.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header "
        "main main ";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.header p {
    margin-top: 70px;
    margin-left: 43px;
    font-family: inconsolata;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #333333;
}
.card-contet {
    grid-area: card-content;
    margin: 60px 100px 100px -30px;
padding: 10px;
width: 800px;
}
img {
    width: 400px;
    height: 400px;
    margin: 60px 100px 100px 44px;
}

.card-contet h1 {
    width: 486px;
    height: 190px;
    margin: 0px 100px;


    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 65px;

}

.card-contet p {
    font-family: Space Mono;
    line-height: 35px;
    font-size: 24px;
    font-weight: 400;
    margin:  0px 100px;

}

.main {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 200px;
}

button {
    width: 216px;
    height: 68px;
    background: #333333;
    color: #ffffff;
    margin:  50px 100px;

}

@media(max-width:1090px) {
    .main {
        display: grid;
        grid-template-areas:
            "image image"
            " card-content card-content"
        ;
    }

    .image {
        grid-area: image;
        margin: auto;
        width: 700px;
    }

    .card-content {
        grid-area: card-content;
        margin: auto;
        width: 900px;

    }

}
@media(max-width:680px){
    .card-content {
        width: 800px;
        margin: 0px 400px;
    }
    .header p {
        margin-top: 20px;
        margin-left: 43px;
    }
    img{
        margin: 0px 100px 100px 44px;
    }
    .card-content{
        margin: 0px 100px 100px -30px;
width: auto;
    }
    .main{
        margin-left: 0px;
    }
}